body, html {
    height: 100%;
    overflow: hidden;
}

body {
    background-color: black;
    background-image: url("../images/cosmos.jpg");
    background-size: 100% 100%;
    color: darkgrey;
    font-size: 1.5em;
}

h1 {
    background-color: black;
    color: darkorchid;
    margin: 0;
    padding: .5em;
    border-bottom: 3px solid darkorchid;
    font-size: 3em;
}

.seaweed {
    font-family: 'Seaweed Script', cursive;
}

.half-width{
    width: 50%;
    margin: 3em auto;
    background: transparent;
}

.border {
    display: block;
    /* height: 500px; */
    /* border: 5px solid black; */
}

.splatter {
    position: relative;
}

.card {
    /* position: absolute; */
}
.card-text {
    font-size: .7em;
    text-align: center;
}

.hidden {
    display: none;
}

.nice-border {
    border: 1px solid #333333;
    border-radius: 2px;
}

.centered {
    text-align: center;
}

.block {
    display: block;
}
.character-area {
    height: 95%;
    padding: 0;
}

#attack-button {
    margin: 5em auto;
    width: 100%;
}

.row {
    margin-bottom: 2em;
}

.button-column {
    height: 500px;
    padding-top: 5em;
}

.arena-area {
    padding-top: 5em;
}

#character-container {
    height: 225px;
}

#intro-screen {
    text-align: center;
    width: 50%;
    margin: 9em auto;
}
#game-screen {
    display: none;
}

#lost-screen {
    display: none;
}

#win-screen {
    display: none;
}